In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('bills.xlsx')

In [3]:
df.head()

,BILL No,Rank,POS No,Name,Address,On Account Of,Dated,Month,Amount,Discount,Net Amount
0,65501.0,Staff,POS-10138-9-2022,MR SARBAZ KHAN BBQ COOK,BBQ Cook,Take Away,20-09-2022,2022-09-22,450,450,900
1,65502.0,Staff,POS-10167-9-2022,MR MUSHAHID MUZAFAR KARAI COOK,Karachi Cook,Take Away,20-09-2022,2022-09-22,425,425,850
2,65503.0,Staff,POS-10179-9-2022,MR BILAL RAZA,SECURTY GUARD,Take Away,20-09-2022,2022-09-22,110,0,110
3,65504.0,Maj R,POS-10185-9-2022,MAJ (R) NAZAR C/O IFTEKHAR HEAD WAITER,NaN,Take Away,20-09-2022,2022-09-22,260,0,260
4,65505.0,Staff,POS-10188-9-2022,MR NADEEM KHAN TANDORCHI,Tandochi,Take Away,20-09-2022,2022-09-22,375,375,750

In [15]:
for index,row in df.iterrows():
    print(row["BILL No"])
    break

65501.0

In [16]:
df.columns

Index(['BILL No', 'Rank', 'POS No', 'Name', 'Address', 'On Account Of',
       'Dated', 'Month', 'Amount', 'Discount ', 'Net Amount'],
      dtype='object')